<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mark's Website</title>
</head>
<body>
<footer class="white-section" id="footer">
    <div class="container-fluid">
      <a href="https://github.com/ColdDeckHarrison"><i class="social-icon fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/mark-hamilton-a62340134/"><i class="social-icon fab fa-linkedin"></i></a>
      <a href="https://www.instagram.com/p/CRC_CmYhN5h/?utm_medium=copy_link"><i class="social-icon fab fa-instagram"></i></a>
        <a href="/contact"><i class="social-icon fas fa-envelope"></i></a>
      <p>© Copyright 2022 Mark Hamilton</p>
    </div>
  </footer>
</body>
</html>