<!DOCTYPE html>
<html>

      <!-- Nav Bar -->

     {% include "header.html" %}

      <!-- Title -->

      <div class="row">

        <div class="col-lg-6">
          <h1 class="big-heading">A Python Programmer</h1>
          <p class="intro">
         I am a Python Programmer with an interest in creating easy to use APIs. I'm a military veteran with a love for education, criminal justice reform and the
            environment. I want to synthesize information to make it more useful and accessible for everyone.
          </p>
          <!-- <button type="button" class="btn btn-dark btn-lg download-button"><i class="fab fa-apple"></i> Download</button>
          <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fab fa-google-play"></i> Download</button> -->
        </div>

        <div class="col-lg-6">
          <img src="static/images/roadtripphoto.jpg" alt="Simone-mark" class="responsive">
        </div>

      </div>

    </div>

  </section>


  <!-- Features -->

  <section class="white-section" id="features">

    <div class="container-fluid">

      <div class="row">
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-check-circle fa-4x"></i>
          <h3 class="feature-title">Easy Communication.</h3>
          <p>Clear communicator. Good Listener. Non-judgemental.</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-bullseye fa-4x"></i>
          <h3 class="feature-title">Fast Learner</h3>
          <p>Able to receive, breakdown and utilize data in a short span of time.</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-heart fa-4x"></i>
          <h3 class="feature-title">Guaranteed to work.</h3>
          <p>Will always go above and beyond for the benefit of the team.</p>
        </div>
      </div>


    </div>
  </section>


  <!-- Testimonials -->

  <section class="colored-section" id="testimonials">

    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
          <h6 class="testimonial-text"> Mark Hamilton greatly impressed me as being a very intelligent, highly motivated, friendly, serious, and experienced member of my crew.</h6>
          <em>Dr. Daniel Sayers, Associate Professor and Department Chair, Anthropology at American University</em>
        </div>
        <div class="carousel-item container-fluid">
          <h6 class="testimonial-text">He is confident and decisive. He makes everyone around him better and would be a great addition to any team. His consistent self-analysis and growth mindset are reflected in his leadership qualities.</h6>
          <em>Deborah Boyle, Principal at The Help Group's Village Glen School</em>
        </div>
        <div class="carousel-item container-fluid">
          <h6 class="testimonial-text">Mark is a hard worker, an extremely fast learner and very proactive. He is eager to learn and wants to succeed at everything he does.</h6>
          <em>Jessie Coyle, Lower School Director at The McGillis School in Salt Lake City</em>
        </div>
        <div class="carousel-item container-fluid">
          <h6 class="testimonial-text">It is clear that he is experienced in working with a diverse range of students and is sensitive to the different ethnic, cultural and socioeconomic backgrounds of those with whom he works.</h6>
          <em>Dr. Debbie Lazer, Head of School at The Help Group's Village Glen School</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

  </section>


  <!-- Press -->

  <section class="colored-section" id="press">
    <img class="press-logo" src="static/images/python-logo.png" alt="python">
    <img class="press-logo" src="static/images/flask_logo.png" alt="flask-logo">
    <img class="press-logo" src="static/images/Agile-Methodology.webp" alt="Agile">
    <img class="press-logo" src="static/images/Sql_logo.png" alt="sql-logo">

  </section>


  <!-- Pricing -->

  <section class="white-section" id="pricing">

    <h2 class="section-heading">Education and Recent Work History</h2>

    <div class="row">

      <div class="pricing-column col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>Education</h3>
          </div>
          <div class="card-body">
            <h3>University of Houston</h3>
            <p>Master's of Education</p>
            <p>Special Education and Educational Psychology</p>
            <p>3.97 G.P.A.</p>
            <a href="https://drive.google.com/file/d/1sBRlgDvLukYGyAlTZIfUpWRpkZrReyDp/view?usp=sharing" class="btn btn-lg btn-block btn-outline-dark" type="button">View Transcripts</a>
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>Education</h3>
          </div>
          <div class="card-body">
            <h3>American University</h3>
            <p>Bachelor of Art</p>
            <p>Anthropology</p>
            <p>3.30 G.P.A.</p>
                <a href="https://drive.google.com/file/d/1-4ivXWUWNA6elJniJIE0HoTg2JbIhvOE/view?usp=sharing" class="btn btn-lg btn-block btn-dark" role="button">View Transcripts</a>
          </div>
        </div>
      </div>

      
      <div class="pricing-column col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>United States Coast Guard</h3>
          </div>
          <div class="card-body">
            <h3>Petty Officer 3rd Class</h3>
            <p>U.S.C.G.C. Healy</p>
            <p>Food Service Specialist</p>
            <p>Logistics management w/ $2.5Mil Budget</p>
            <p>Medic, Training P.O.</p>
          </div>
        </div>
      </div>
  </section>
  <section class="white-section" id="continue">

    <div class="row">

      <div class="pricing-column col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>Work Experience</h3>
          </div>
          <div class="card-body">
            <h3>Village Glen High School</h3>
            <p>High School Teacher</p>
            <p>History, Math, Economics Teacher</p>
            <p>Wrote and implemented legal documents for Autistic students</p>
            <p>Social Skills and Behavior Specialist</p>
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>Volunteering</h3>
          </div>
          <div class="card-body">
            <h3></h3>
            <p>Deskovic Foundation Volunteer</p>
            <p>Weekly meetings to increase visibility</p>
            <p>Worked to create a broader web presence</p>
            <p>Tracked media leads</p>
            <p>Increased marketing through social media</p>
          </div>
        </div>
      </div>
          
      <div class="pricing-column col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>Work Experience</h3>
          </div>
          <div class="card-body">
            <h3>Chester Community Charter School</h3>
            <p>Special Education Compliance Manager</p>
            <p>Review evaluation and reevaluation process and timelines </p>
            <p>Train new staff and provide ongoing support</p>
            <p>Maintain compliance charts </p>
          </div>
        </div>
      </div>
  </section>

  <!-- Call to Action -->

  <section class="colored-section" id="cta">

    <div class="container-fluid">
      <div>
        <h1>Hobbies and Interests</h1>
      </div>
      <div class="skill-row">
        <h4 align="left">Atlanta Braves Baseball</h4>
        <p class="skill-text" align="left">I am a <strong>HUGE</strong> baseball fan.</p>
          <p class="skill-text" align="left"> I grew up an Atlanta Braves fan a tradition past down from my Grandmother.</p>
        <p class="skill-text" align="left"> What I love more than the game itself, are the statistics and how easily</p>
        <p class="skill-text" align="left"> they can be manipulated to fit a certain player, team or time period.</p>
        <p class="skill-text" align="left">Python, APIs and SQL are great tools to use when looking for a statistical</p>
        <p class="skill-text" align="left">edge in the sport. There is no limit to what can be done or how it can be presented.</p>
      </div>
      <br>
      <div class="skill-row">
        <h4>Travel</h4>
        <p class="skill-text" align="left">I was born in Ohio and have had the chance to see 47 of the 50 states,</p>
          <p class="skill-text" align="left">living in 10 which includes Washington D.C. </p>
                 <p class="skill-text" align="left">I have lived in three cities in the Netherlands.</p>
          <p class="skill-text" align="left">I love getting outdoors to go camping and hiking with my family. </p>
        <p class="skill-text" align="left">Give me a cold weather climate</p>
          <p class="skill-text" align="left">with mountains over the beach any day!</p>
        <p class="skill-text" align="left">To see my international travel destinations click <a href="/countries"><strong>Countries.</strong></a> </p>
      </div>
      <br>
      <div class="skill-row">
        <h4 align="left">Criminal Justice Reform</h4>
        <p class="skill-text" align="left">As a teacher I have first-hand experience seeing inequity in our schools</p>
          <p class="skill-text" align="left">I worked in segregated schools that should not exist, I have seen how</p>
        <p class="skill-text" align="left">people of color are used for profit within the education and prison system.</p>
        <p class="skill-text" align="left">I don't pretend to have any answers or solutions for this crisis but I do</p>
        <p class="skill-text" align="left">know that I will always be involved when it comes to getting innocent people</p>
        <p class="skill-text" align="left">out of prison physically or at least mentally, by writing letters.</p>
        <p class="skill-text" align="left"> This site is one I wish didn't need to exist <a href="https://innocenceproject.org/exonerations-data/"> <strong>InnocenceProject.</strong></a> </p>
      </div>
          </div>
    </div>
  </section>


  <!-- Footer -->

  {% include "footer.html" %}


</body>

</html>
